.itemContainer {
  margin-left: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item:not(:last-child) {
  margin-bottom: 16px;
}

.button {
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.button:hover,
.button:focus {
  background-color: grey;
  color: #fff;
}
